project:
  type: website

  resources:
    - "CNAME"

website:
  page-navigation: true
  title: "KLEB Documentation"
  site-url: "https://docs.kleb.cloud
  repo-url: https://github.com/eosdis-nasa/earthdata-gis
  repo-actions: [edit, issue]

  page-footer:
    right: "This page is built with HTML Basic."
    left: "&copy; CC-By NASA, 2025"
format:
  html:
    theme:
      light: [cosmo]
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    css: styles.css
    toc: true
    toc-depth: 3
    include-in-header:
      - text: |
          <script defer data-domain="eosdis-nasa.github.io/earthdata-gis" src="https://plausible.io/js/script.js"></script>
